version: '3'

services:
 src:
   restart: always
   build:
     context: .
     dockerfile: Dockerfile
   environment:
     PORT: "8080"
   ports:
     - "8080:8080"
 db:
   image: postgres:15.4-alpine3.18
   environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root123
   ports:
     - "5432:5432"
   restart: always
